<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CST Grade XPC</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>

	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>

	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>CST Grade</string>
			<key>groupUUID</key>
			<string>F1B5D4C2-7A1A-4B0B-9F3C-7A7C7A66D9A1</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>CSTGradePlugIn</string>
			<key>displayName</key>
			<string>CST Grade</string>
			<key>groupUUID</key>
			<string>F1B5D4C2-7A1A-4B0B-9F3C-7A7C7A66D9A1</string>
			<key>infoString</key>
			<string>Scene-linear colour transform and grade</string>
			<key>protocolNames</key>
			<array>
				<!-- FxPlug 4 registration retains the FxFilter protocol name;
				     the implementation itself is FxTileableEffect. -->
				<string>FxFilter</string>
			</array>
			<key>plugInUUID</key>
			<string>7E3A1C7D-CE86-4D6A-8D32-97F62A8C9C1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>

	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplication</string>
		<key>ServiceType</key>
		<string>Application</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
